<form novalidate name="myForm" ng-submit="ctrl.submit()">
  <div>
    <input type="text" class="username" name="uname"
    ng-model="ctrl.user.username" required="" placeholder="Username"
    ng-minlength="4" />
    <input type="password" class="password" name=pwd
    ng-model="ctrl.user.password" placeholder="Password" required=""/>
  </div>

  <ng-form name="profile">
    <input type="text" name="firstName" ng-model="ctrl.user.profile.firstName"
    placeholder="First Name" required />
    <input type="text" name="middleName" ng-model="ctrl.user.profile.middleName"
    placeholder="Middle Name" required />
    <input type="text" name="lastName" ng-model="ctrl.user.profile.lastName"
    placeholder="Last Name" required />
    <input type="date" name="dob" placeholder="Date of Birth" ng-model="ctrl.user.profile.dob"/>
  </ng-form>

  <span ng-show="myForm.profile.$invalid">
  Please fill out the profile information</span>

  <input type="submit" value="Submit" ng-disabled="myForm.$invalid"/>
</form>
------------------------------------------------------------------------
<div>
  <h2> what are your favorite sports</h2>
  <div ng-repeat="sport in ctrl.sports">
    <label ng-bind="sport.label"></label>
    <div>
      with Binding:
      <input type="checkbox" ng-model="sport.selected"
          ng-true-value="'YES'" ng-false-value="'NO'">
    </div>
    <div>
      using ng-checked:
      <input type="checkbox" ng-checked="sport.selected === 'YES'">
    </div>
    <div>
      current state: {{sport.selected}}
    </div>
  </div>
</div>
------------------------------------------------------------------------
<div ng-init="otherGender = 'other'">
  <input type="radio" name="gender" ng-model="user.gender" value="male"/>Male
  <input type="radio" name="gender" ng-model="user.gender" value="female"/>Female
  <input type="radio" name="gender" ng-model="user.gender" value="otherGender"/>{{otherGender}}
</div>
------------------------------------------------------------------------
<div>
  <select ng-model="ctrl.selectedCountryId"
  ng-options="c.id as c.label for c in ctrl.countries"></select>
  Selected Country id: {{ctrl.selectedCountryId}}
</div>

<div>
  <select ng-model="ctrl.selectedCountry"
  ng-options="c.label for c in ctrl.countries"></select>
  Selected Country: {{ctrl.selectedCountry}} and {{ctrl.selectedCountry.label}}
</div>



<br/>
<a href="#!/home"> Back</a>
